* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
    background-color: #e9e9e9;
    overflow-x: hidden; 
  }

/*style for sidebar*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 5.3rem;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: #356D59;
    padding: 1.5rem 1.25rem;
    transition: all 0.4s ease;
    z-index: 1000;
  }
  
  .sidebar:hover {
    width: 16.25rem;
  }
  
  .sidebar .sidebar-header {
    display: flex;
    align-items: center;
  }
  
  .sidebar .sidebar-header img {
    width: 2.8rem;
  }
  
  .sidebar .sidebar-header h2 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 1.2rem;
  }
  
  .sidebar-links h4 {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    margin: .6rem 0;
    position: relative;
  }
  
  .sidebar-links h4 span {
    opacity: 0;
  }
  
  .sidebar:hover .sidebar-links h4 span {
    opacity: 1;
  }
  
  .sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #fff;
    transform-origin: right;
    transition-delay: 0.2s;
  }
  
  .sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
  }
  
  .sidebar-links {
    list-style: none;
    margin-top: 1.25rem;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
  }
  
  .sidebar-links::-webkit-scrollbar {
    display: none;
  }
  
  .sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
    padding: .9rem .6rem;
    text-decoration: none;
    transition: 0.2s ease;
  }
  
  .sidebar-links li a:hover {
    color: #356D59;
    background: #fff;
    border-radius: 4px;
  }
  
  .user-account {
    margin-top: auto;
    padding: .75rem .6rem;
    margin-left: -10px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    color: #161a2d;
  }
  
  .user-profile img {
    width: 2.6rem;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  .user-profile h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .user-profile span {
    font-size: 0.775rem;
    font-weight: 600;
  }
  
  .user-detail {
    color: #356D59;
    margin-left: 1.4rem;
    white-space: nowrap;
  }
  
  .sidebar:hover .user-account {
    background: #fff;
    border-radius: 4px;
  }
  
  .main {
    margin-left: 5.3rem;
    padding: 1.25rem;
    transition: margin-left 0.4s ease;
    overflow-x: hidden; 
  }
  
  .sidebar:hover ~ .main {
    margin-left: 16.25rem;
  }
  
  .main header {
    margin-bottom: 1.25rem;
  }
  
  .main h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #356D59;
  }
  